.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: "";
 
  inset: 0;
  background: linear-gradient(135deg, #e01010,  #090909);
  filter: blur(20px);
  z-index: 0;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.95));
  z-index: 1;
}
